

<header>List Questions</header>

<div ng-controller="ListScreenCtrl as list" class="questionList" ng-init="getApiQuestions()">
  <div ng-show="loading"><h1>LOADING...</h1></div>

  <input ng-show="!loading" type="text" class="searchBox" placeholder="Search...">
  <ol ng-show="!loading">
    <li class="question" ng-repeat="question in questions">
      <a ng-href="/#!/DetailScreen/{{question.id}}">
        <figure>
          <img src={{question.thumb_url}}>
        </figure>
        <h3>{{question.question}}</h3>
        <time>{{question.published_at}}</time>
        <ol>
          <li ng-repeat="choice in question.choices">{{choice.choice}} Votes: {{choice.votes}}</li>
        </ol>
      </a>
    </li>
  </ol>
</div>
