

.goBackBtn{
  margin-top: 10px;
  background-color: #00578E;
  color: white;
}

.image {
  max-width:100%;
  max-height:100%;
}

#time {
  margin: 0px;
}


.questionDetail {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 0px;
  margin-top: 10px;
  list-style-type: none;
}

.voteButton, .shareButton {
  border:none;
  border-radius: 10px;
  background-color: #0CCAF1;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 20px;
}

.shareButton {
  background-color: #1646CC;
  margin-top: 10px;
}

.voteButton:hover, .shareButton:hover {
  background-color: black;
}

.form {
  text-align: center;
  margin: 30px;
}
