

<header>Questions Details</header>

<div ng-controller="DetailScreenCtrl as detail" class="questionDetail">
  <figure>
    <img src={{detail.question.image_url}}>
  </figure>
  <h3>{{detail.question.question}}</h3>
  <time>{{detail.question.published_at}}</time>
  <ol>
    <li ng-repeat="choice in detail.question.choices"> {{choice.choice}} Votes: {{choice.votes}}
      <button type="button" class="voteButton" ng-click="voteChoice()">Vote</button>
    </li>
  </ol
  <form ng-submit="sendEmail()" name="form">
    <input type="submit" value="Share" class="shareButton" ng-mouseover="shareQuestionFlag = true"/>
    <input type="email" required name="email" ng-model="emailInput" ng-show="shareQuestionFlag" placeholder="Email of your friend :)"/>
    <span ng-show="form.email.$dirty">
      Email is required
    </span>
  </form>
  <h5>{{message}}</h5>
</div>
