

<div class="container-fluid" ng-controller="DetailScreenCtrl" ng-init="getApiQuestion()">
  <header>Questions Details</header
    <div class="row-fluid">
      <div class="col-md-6">
        <img class="image" src="{{question.image_url}}">
      </div>
      <div class="col-md-6">
        <h3>{{question.question}}</h3>
        <time>{{question.published_at}}</time>
        <ol ng-repeat="choice in question.choices" class="questionDetail">
          <li>
            <!--<div class="col-md-6">-->
              {{choice.choice}} Votes: {{choice.votes}}
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <button type="button" class="btn voteButton" ng-click="voteChoice(choice)">Vote</button>
              <!--</div>-->
          </li>
        </ol>
      </div>
      <div class="col-md-3 form">
        <form ng-submit="sendEmail()">
          <fieldset class="form-group">
            <input type="email" name="email" required class="form-control" ng-model="emailInput" ng-show="shareQuestionFlag" placeholder="Email of your friend :)"/>
            <input type="submit" value="Share" class="btn shareButton" ng-mouseover="shareQuestionFlag = true" ng-disabled="isSubmitting"/>
          </fieldset>
        </form>
        <div class="col-md-12">
          <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close">×</button> <strong>Success!</strong> {{successTextAlert}}
          </div>
        </div>
      </div>
    </div>
  </div>
